<div class="container">
    <br>
    <h5>Issue Details</h5>
    <div class="form-group mb-3">
        <input type="text" class="form-control" placeholder="Search by Id or Name" [(ngModel)]="searchTerm" (input)="filterIssue()">
        
    </div>

    <div>
        <div class="table-striped" style="width:500px">
            <table class="table">
                <thead>
                    <tr>
                        <th>ISSUE ID</th>
                        <th>TITTLE</th>
                        <th>DESCRIPTION</th>
                        <th>PRIORITY</th>
                        <th>STATUS</th>
                        <th>ASSIGNEE</th>
                        <th>DATE</th>
                        <th>Send Away</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let issue of issues">
                        <td>{{issue.id}}</td>
                        <td>{{issue.title}}</td>
                        <td>{{issue.description}}</td>
                        <td>{{issue.priority}}</td>
                        <td>{{issue.status}}</td>
                        <td>{{issue.assignee}}</td>
                        <td>{{issue.date}}</td>
                        <td><button (click)= "deleteIssue(issue)" class="btn btn-danger">Delete</button></td>
                        <td><button (click)="updateIssue(issue.id!)" class="btn btn-warning">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

