

<body id="main">
<h1>Welcome Admin !!</h1>

<h2>Hotel Management System Dashboard</h2>
<!-- <button class="logout-button" (click)="logout()">Logout</button> -->

<div class="nav-container">
  <div class="nav-item">
    <a href="booking">
      <img src="booking.jpg" alt="Bookings" class="nav-icon" />
      <span>Bookings</span>
    </a>
  </div>
  
  <div class="nav-item">
    <a href="guest">
      <img src="guest.jpg" alt="Guests" class="nav-icon" />
      <span>Guests</span>
    </a>
  </div>
  
  <div class="nav-item">
    <a href="hotel">
      <img src="hotel.jpg" alt="Hotels" class="nav-icon" />
      <span>Hotels</span>
    </a>
  </div>
  
  <div class="nav-item">
    <a href="facility">
      <img src="facility.jpg" alt="Facility" class="nav-icon" />
      <span>Facility</span>
    </a>
  </div>
  
  <div class="nav-item">
    <a href="review">
      <img src="review.jpg" alt="Reviews" class="nav-icon" />
      <span>Reviews</span>
    </a>
  </div>
  
  <div class="nav-item">
    <a href="registration">
      <img src="register.jpg" alt="Registration" class="nav-icon" />
      <span>Registration</span>
    </a>
  </div>
</div>
<button class="logout-button" (click)="logout()">Logout</button>
</body>
