<div class="container">
    <br>
    <h4>Employee Details </h4>
    <br><br>
    <div>
        <div class="table-striped" style="width:500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>EMP ID</th>
                        <th>EMP NAME</th>
                        <th> EMP SALARY</th>
                        <th> Send Away</th>
                        <th> Change</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employee">
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.salary}}</td>
                        <td><button (click)="deleteEmployee(employee)" class="btn btn-danger">Delete</button></td>
                        <td><button (click)= "updateEmployee(employee.id)" class="btn btn-warning">Update </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
